{% extends 'base.html.twig' %}

{% block title %}RIA2 - Dessauges Antoine{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
           <h1>CPNV Social Dashboard</h1>
            {{ like_count }} likes on facebook
            {{ follow_count }} follow on twitter
        </div>
    </div>
{% endblock %}

