{% extends 'base.html.twig' %}

{% block title %}RIA2 - Dessauges Antoine{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
           <h1>CPNV Social Dashboard</h1>
            {{ like_count }} likes
            <div class="t col-md-2">hey</div>
            <div class="col-md-5">ss</div>
        </div>
    </div>
{% endblock %}

